html, body {
  padding: 0;
  margin: 0;
  background-color: #000;
  width: 100%;
  height: 100%
}

#tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#upCounter {
  z-index: 1;
  color: #888;
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  font-family: sans-serif;
}

#upCount {
  color: white;
  font-size 28px;
}